*{
    font-family: Arvo-Regular;
    font-size: medium;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    /*
     background-image: url("Picture/Background.jpg");
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover; */
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
}
h2{
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: #192e5b;
    align-items: center;
    border: 0;
    border-radius: 0.3em;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    vertical-align: middle;
}

.grid{
    text-align: center;
    display: grid;
    height : auto;
    width: 80%;
    background-color: white;
    border-radius: 2em;
    place-items: center;
    margin: auto;
    margin-top: 40px;
    padding: 1px;
}


table tr:not(:first-child){
    cursor: pointer;
    transition: all .25s ease-in-out;
}
table tr:not(:first-child):hover{
    background-color: #ddd;
}


/* Table Styles */
.table-wrapper{
    width: 60%;
    margin: 0px 0px 30px 0px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f0f0f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: #0584f2;
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #0aaff1;
}

.fl-table tr:nth-child(even) {
    background: #f0f0f8;
}

/* Responsive */

@media (max-width: 767px) {
    .fl-table {
        display: block;
        width: 100%;
    }
    .table-wrapper:before{
        content: "Scroll horizontally >";
        display: block;
        text-align: right;
        font-size: 11px;
        color: white;
        padding: 0 0 10px;
    }
    .fl-table thead, .fl-table tbody, .fl-table thead th {
        display: block;
    }
    .fl-table thead th:last-child{
        border-bottom: none;
    }
    .fl-table thead {
        float: left;
    }
    .fl-table tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }
    .fl-table td, .fl-table th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }
    .fl-table thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }
    .fl-table tbody tr {
        display: table-cell;
    }
    .fl-table tbody tr:nth-child(odd) {
        background: none;
    }
    .fl-table tr:nth-child(even) {
        background: transparent;
    }
    .fl-table tr td:nth-child(odd) {
        background: #f0f0f8;
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }
    .fl-table tbody td {
        display: block;
        text-align: center;
    }
}
@font-face {
    font-family: 'Arvo-Regular';
    font-style: normal;
    font-weight: 200;
    src: url(fonts/Arvo-Regular.ttf);
}@font-face {
    font-family: 'Arvo-Bold';
    font-style: normal;
    font-weight: 200;
    src: url(fonts/Arvo-Bold.ttf);
  }@font-face {
    font-family: 'Tajawal-Bold';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/Tajawal-Bold.ttf);
  }@font-face {
    font-family: 'Tajawal-Light';
    font-style: normal;
    font-weight: 400;
    src: url(fonts/Tajawal-Light.ttf);
  }
